<html>
<head>
    <meta charset="utf-8" />

    <link href="InterfacePotion.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="InterfacePotion.js"></script>
</head>

<body ng-app="Craft" ng-controller="Controleur as Ctrl" ng-init="Ctrl.Init();">
    <div id="Niveau">
        <div>
            Niveau du metier d'alchimiste :
        </div>
        <input ng-model="Niveau" />
    </div>
    <div class="InterfaceAlchimie">
        <div class="InterfaceSlots">
            <div class="Solvant">
                <h3>Solvant</h3>
                <div class="Case" ng-class="Corner{{Solvant.Item.Rare}}" ng-click="RemoveSolvant()">
                    <img ng-if="Solvant.Item" ng-src="{{Solvant.Item.Image}}" />
                    <div class="Corner" ng-class="GetCornerRarity(Solvant.Item)">
                        <div class="CornerValue">{{Solvant.Qty}}</div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="Ingredients">
                <div class="IngredientsTitle">
                    <h3>Ingredients</h3>
                    <div class="IconButton" ng-click="OpenIngredients = !OpenIngredients; OpenRecettes = false">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 608 544">
                            <path fill="#181a18" transform="translate(32, 32)"
                                  d="M144.3 34.04C106.9 31.29 63.7 41.44 18.6 61.29c-11.42 5.026-18.6 16.67-18.6 29.15l0 357.6c0 11.55 11.99 19.55 22.45 14.65c126.3-59.14 219.8 11 223.8 14.01C249.1 478.9 252.5 480 256 480c12.4 0 16-11.38 16-15.98V80.04c0-5.203-2.531-10.08-6.781-13.08C263.3 65.58 216.7 33.35 144.3 32.04zM557.4 61.29c-45.11-19.79-88.48-29.61-125.7-29.26c-72.44 1.312-118.1 33.55-120.9 34.92C306.5 69.96 304 74.83 304 80.04v383.1C304 468.4 307.5 480 320 480c3.484 0 6.938-1.125 9.781-3.328c3.925-3.018 97.44-73.16 223.8-14c10.46 4.896 22.45-3.105 22.45-14.65l.0001-357.6C575.1 77.97 568.8 66.31 557.4 61.29z" />
                            <path fill="currentColor"
                                  d="M144.3 32.04C106.9 31.29 63.7 41.44 18.6 61.29c-11.42 5.026-18.6 16.67-18.6 29.15l0 357.6c0 11.55 11.99 19.55 22.45 14.65c126.3-59.14 219.8 11 223.8 14.01C249.1 478.9 252.5 480 256 480c12.4 0 16-11.38 16-15.98V80.04c0-5.203-2.531-10.08-6.781-13.08C263.3 65.58 216.7 33.35 144.3 32.04zM557.4 61.29c-45.11-19.79-88.48-29.61-125.7-29.26c-72.44 1.312-118.1 33.55-120.9 34.92C306.5 69.96 304 74.83 304 80.04v383.1C304 468.4 307.5 480 320 480c3.484 0 6.938-1.125 9.781-3.328c3.925-3.018 97.44-73.16 223.8-14c10.46 4.896 22.45-3.105 22.45-14.65l.0001-357.6C575.1 77.97 568.8 66.31 557.4 61.29z" />
                        </svg>
                    </div>
                    <div class="IconButton" ng-click="OpenRecettes = !OpenRecettes; OpenIngredients = false">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 544">
                            <path fill="#181a18" transform="translate(32, 32)"
                                  d="M234.5 5.709C248.4 .7377 263.6 .7377 277.5 5.709L469.5 74.28C494.1 83.38 512 107.5 512 134.6V377.4C512 404.5 494.1 428.6 469.5 437.7L277.5 506.3C263.6 511.3 248.4 511.3 234.5 506.3L42.47 437.7C17 428.6 0 404.5 0 377.4V134.6C0 107.5 17 83.38 42.47 74.28L234.5 5.709zM256 65.98L82.34 128L256 190L429.7 128L256 65.98zM288 434.6L448 377.4V189.4L288 246.6V434.6z" />
                            <path fill="currentColor"
                                  d="M234.5 5.709C248.4 .7377 263.6 .7377 277.5 5.709L469.5 74.28C494.1 83.38 512 107.5 512 134.6V377.4C512 404.5 494.1 428.6 469.5 437.7L277.5 506.3C263.6 511.3 248.4 511.3 234.5 506.3L42.47 437.7C17 428.6 0 404.5 0 377.4V134.6C0 107.5 17 83.38 42.47 74.28L234.5 5.709zM256 65.98L82.34 128L256 190L429.7 128L256 65.98zM288 434.6L448 377.4V189.4L288 246.6V434.6z" />
                        </svg>
                    </div>
                </div>
                <div class="IngredientsSlots">
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 1}" ng-click="RemoveItem(0)">
                        <img ng-if="IngredientsSelected[0]" ng-src="{{IngredientsSelected[0].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[0])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 1}" ng-click="RemoveItem(1)">
                        <img ng-if="IngredientsSelected[1]" ng-src="{{IngredientsSelected[1].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[1])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 2}" ng-click="RemoveItem(2)">
                        <img ng-if="IngredientsSelected[2]" ng-src="{{IngredientsSelected[2].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[2])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 2}" ng-click="RemoveItem(3)">
                        <img ng-if="IngredientsSelected[3]" ng-src="{{IngredientsSelected[3].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[3])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 3}" ng-click="RemoveItem(4)">
                        <img ng-if="IngredientsSelected[4]" ng-src="{{IngredientsSelected[4].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[4])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 3}" ng-click="RemoveItem(5)">
                        <img ng-if="IngredientsSelected[5]" ng-src="{{IngredientsSelected[5].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[5])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 4}" ng-click="RemoveItem(6)">
                        <img ng-if="IngredientsSelected[6]" ng-src="{{IngredientsSelected[6].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[6])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                    <div class="Case" ng-class="{'Disabled': Solvant.Qty < 4}" ng-click="RemoveItem(7)">
                        <img ng-if="IngredientsSelected[7]" ng-src="{{IngredientsSelected[7].Image}}" />
                        <div class="Corner" ng-class="GetCornerRarity(IngredientsSelected[7])">
                            <div class="CornerValue"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Result Case">
            <img ng-if="IngredientsSelected[1]" ng-src="{{GetRecepeImage()}}" />
            <div class="Corner" ng-class="GetResultatCornerColor()">
                <div class="CornerValue" ng-if="IngredientsSelected[1]">{{GetCraftChance()}} %</div>
            </div>
        </div>
    </div>
    <div id="ListIngredients" class="Vollet" ng-class="{'OpenVollet':OpenIngredients}">
        <div ng-repeat="ingredient in Ingredients" ng-click="AddItem(ingredient)">
            <img ng-src="{{ingredient.Image}}" height="50" />
            <div>{{ingredient.Nom}}</div>
        </div>
    </div>
    <div id="ListRecettes" class="Vollet" ng-class="{'OpenVollet':OpenRecettes}">
        <div ng-repeat="recette in Recettes">
            <img ng-src="{{recette.Image}}" height="50" />
            <div>{{recette.Nom}}</div>
        </div>
    </div>
</body>
</html>
